<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head.ejs') %>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Document</title>
	</head>
	<body>
		<header>
			<h1 class="title jumbotron"><%= restaurant.name %><br><a class="home" href="/">Home</a><br> <a class="home" href="/restaurants">Restaurant Index</a></h1>

		</header>
		<div class="main">
		<main>
			<form action="/restaurants/<%= restaurant._id %>?_method=PUT" method="POST">
				<select class="btn btn-dark" name="city">
					<% for(let i = 0; i < city.length; i++) { %>
						<option value="<%= city[i]._id %>"
							<% if(city[i]._id.toString() === restaurant.city._id.toString()) { %>
								selected
							<% } %>
						><%= city[i].name %></option>
					<% } %>
				</select><br/>
				<input class="login" type="text" name="name" value="<%= restaurant.name %>" required/><br/>
                <input class="login" type="text" name="restaurant.location" value="<%= restaurant.location %>"/><br/>
                <input class="login" type="number" max="5" min="1" name="restaurant.rating.food" value="<%= restaurant.rating.food%>"/><br/>
                <input class="login" type="number" max="5" min="1" name="restaurant.rating.drinks" value="<%= restaurant.rating.drinks%>"/><br/>
                <input class="login" type="number" max="5" min="1" name="restaurant.rating.service" value="<%= restaurant.rating.service%>"/><br/>
                <input class="login" type="number" max="5" min="1" name="restaurant.rating.ambiance" value="<%= restaurant.rating.ambiance%>"/><br/>
                
                <textarea name="comments"><%= restaurant.comments %></textarea><br/>
				<input class="btn btn-dark" type="submit" value="Update Restaurant"/>
			</form>
		</main>
		</div>
	</body>
</html>