<!DOCTYPE html>
<html>
	<head>
		
		<meta charset="utf-8">
		<title><%= restaurant.name %> by <%= restaurant.city.name %></title>
	</head>
	<body>
		<header>
			<h1><%= restaurant.name %></h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/restaurants">Restaurant Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
                <h2> <%= restaurant.name %></h2>
                <h3><%= restaurant.location %></h3>
				<h3> <%= restaurant.city.name %></h3>
				<h3> <%= restaurant.type %></h3>
                <h3>Food Rating:<%= restaurant.rating.food %></h3>
                <h3> Drink Rating:<%= restaurant.rating.drinks %></h3>
                <h3>Service Rating: <%= restaurant.rating.service %></h3>
                <h3>Ambiance Rating: <%= restaurant.rating.ambiance %></h3>
                <p>Comments: <%=restaurant.comments %></p>
				
            </section>
            <section>
                <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Restaurant"/>
                </form>
            </section>
            <section>
                <a href="/restaurants/<%= restaurant._id %>/edit">Edit</a>
            </section>
		</main>
	</body>
</html>