<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= restaurant.name %> by <%= restaurant.city.name %></title>
	</head>
	<body>
		<header>
			<h1><%= restaurant.name %></h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/restaurants">Restaurant Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<h2> <%= restaurant.name %></h2>
				<h3>Author: <%= article.author.name %></h3>
				<p><%= article.body %></p>
            </section>
            <section>
                <form action="/articles/<%= article._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Article"/>
                </form>
            </section>
            <section>
                <a href="/articles/<%= article._id %>/edit">Edit</a>
            </section>
		</main>
	</body>
</html>