<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head.ejs') %>
		<meta charset="utf-8">
		<title><%= restaurant.name %> by <%= restaurant.city.name %></title>
	</head>
	<body>
		<header>
			<h1 class="title jumbotron"><%= restaurant.name %><br><a class="home" href="/">Home</a><br><a class="home" href="/restaurants">Restaurant Index</a></h1>
			<nav>
				<ul>
		
				</ul>
			</nav>
		</header>
		<div class="main">
		<main>
			<section>
                <h4> <%= restaurant.name %></h4>
                <h4><%= restaurant.location %></h4>
				<h4> <%= restaurant.city.name %></h4>
				<h4> <%= restaurant.type %></h4>
                <h4>Food Rating: <%= restaurant.rating.food %></h4>
                <h4> Drink Rating: <%= restaurant.rating.drinks %></h4>
                <h4>Service Rating: <%= restaurant.rating.service %></h4>
                <h4>Ambiance Rating: <%= restaurant.rating.ambiance %></h4>
                <p>Comments: <%=restaurant.comments %></p>
				
			</section>
			<section>
                <a class="btn btn-dark" href="/restaurants/<%= restaurant._id %>/edit">Edit</a>
            </section>
            <section>
                <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
                    <input class="btn btn-dark" type="submit" value="Delete Restaurant"/>
                </form>
            </section>
   
		</main>
		</div>
	</body>
</html>