<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head.ejs') %>
		<meta charset="utf-8">
		<title><%= restaurant.name %> by <%= restaurant.city.name %></title>
	</head>
	<body>
		<header>
			<h1 class="title jumbotron"><%= restaurant.name %><br><a class="home" href="/">Home</a><br><a class="home" href="/restaurants">Restaurant Index</a></h1>
			<nav>
				<ul class="nav nav-pills nav-fill">
					<li class="nav-item">
						<a class="nav-link" href="/meals/new">Add a Meal</a>
					</li>
				</ul>
			</nav>
		</header>
		<div class="main">
		<main>
            <div class="dropdown show">
				<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Meals
				</a>
			  
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<% for(key in meal) { %>
				  <a class="dropdown-item" href="/meals/<%= meal[key]._id %>"><%= meal[key].entree %></a>
				  <% } %>
				</div>
			  </div>
			
			<section>
             
                <h4>Address: <%= restaurant.location %></h4>
				<h4><%= restaurant.city.name %></h4>
				<h4>Type of Food: <%= restaurant.type %></h4>
                <h4>Food Rating: <%= restaurant.rating.food %></h4>
                <h4> Drink Rating: <%= restaurant.rating.drinks %></h4>
                <h4>Service Rating: <%= restaurant.rating.service %></h4>
                <h4>Ambiance Rating: <%= restaurant.rating.ambiance %></h4>
                <p>Comments: <%=restaurant.comments %></p>
				
			</section>
			<section>
                <a class="btn btn-dark" href="/restaurants/<%= restaurant._id %>/edit">Edit</a>
            </section>
            <section>
                <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
                    <input class="btn btn-dark" type="submit" value="Delete Restaurant"/>
                </form>
            </section>
   
		</main>
		</div>
	</body>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>